
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="topauth">
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gestionar">¡Hola @UserManager.GetUserName(User)!</a>
        </li>
        <li class="topauth">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link border-0">Cerrar sesión</button>
            </form>
        </li>
        <li>
        <div class="h-cart">
            <a id="cart" asp-page="/Purchase">
                <i class="fa fa-shopping-cart"></i>
                <span class="shop-menu-ttl">Carrito</span>
                (<span id="cartItemCount"></span>)
            </a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="admin" asp-area="Admin" asp-page="/Books/Index"><i class="bi bi-gear-fill"></i> Administrador</a>
    </li>
    }
    else
    {
        <li class="topauth">
            <a id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class="fa fa-lock"></i>
                <span class="shop-menu-ttl">Registro</span>
            </a>
            <a id="login" asp-area="Identity" asp-page="/Account/Login">
                <span class="shop-menu-ttl">Iniciar sesión</span>
            </a>
        </li>
    }

    
</ul>
